.row
  .col-lg-1
  .col-lg-10
    
    = form_for @question, html: {class: "form-horinzontal" , id: "question_form"} do |f|
      - if f.object.errors.any?
        .alert.alert-danger
          - f.object.errors.each do |k, msg|
            = msg
            %br

      .form-group
        .bubble
          = f.text_area(:question_text ,class: "form-control", rows: 10, style: "width:100% !important;",  placeholder: "Please input your question.")

      .form-group
        Please answer below question. 
      .form-group       
        = f.label :humanizer_answer, @question.humanizer_question
        %button{type: "button", id: "refresh", class: "btn btn-info btn-sm"} Refresh question  
      .form-group  
        = f.text_field :humanizer_answer
        = f.hidden_field :humanizer_question_id
             
      .form-group
        %button{type: "submit", id: "submit", class: "btn btn-primary btn-sm"} Submit 
  .col-lg-1
  