!!!
%html
  %head
    %title Question.ricohmds.sg
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{href: "//code.jquery.com/ui/1.10.4/themes/vader/jquery-ui.css", rel: "stylesheet"}/
    %script{src: "//code.jquery.com/jquery-1.9.1.js"}
    %script{src: "//code.jquery.com/ui/1.10.4/jquery-ui.js"}
    = csrf_meta_tags
  %body
    #wrap
      = render "layouts/navbar"

      .container
        -if user_signed_in?
          - flash.each do |name, msg|
            .alert{class: "alert-#{name == :notice ? 'success' : 'danger'}"}
              = msg
      = yield

    = render "layouts/footer"